@import '../../../styles/variables.scss';

.form {
  @extend %form-style;
}

.form:focus {
  border-bottom: 2px solid $border-color;
}

.formButton {
  @extend %all-buttons;
  width: 100%;
  margin-top: 15px;
}

.formButton:active {
    background-color: darken($color-light, 20%,);
}

.formButton:hover {
  border-bottom: 3px solid $border-color;
}

.link {
  color: $btn-color;
}