@import '../../variables.scss';

.section {
  margin-top: 80px;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .......................media........................*/
@media screen and (max-width: 900px) {
  .section {
    margin-top: 180px;
  }
}
