@import '../../../styles/variables.scss';

.formInput {
  @extend %inputs-style;
  width: 100%;
}

.formInput::placeholder {
  color: #fff;
}

@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  }
}

.formInput:-webkit-autofill {
  -webkit-animation: autofill;
  -webkit-animation-fill-mode: both;
}

.errorNotice {
  color: red;
  font-size: 12px;
  display: flex;
}