@import '../../../styles/variables.scss';

.section {
    min-height: calc(100vh - 51px);
    color: $btn-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.container {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.wrap {
  padding: 10px;
  width: 300px;
  background-color: $page-color;
}
.form {
  @extend %form-style;
  color: $btn-color;
}

.form:focus {
  border-bottom: 2px solid $border-color;
}

.formButton {
  @extend %all-buttons;
  width: 150px;
  margin-top: 15px;
}

.formButton:hover {
  border-bottom: 3px solid $border-color;
}


@media screen and (max-width: 900px) {
    .container {
        margin-top: 250px;
    }
}