@import '../../../styles/variables.scss';

.section {
    min-height: calc(100vh - 51px);
    display: flex;
    align-items: center;
  }

.container {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.wrap {
  padding: 10px;
  width: 300px;
  background-color: $page-color;
}

.form {
  @extend %form-style;
  color: $btn-color;
}

.form:focus {
  border-bottom: 2px solid $border-color;
}

.formButton {
  @extend %all-buttons;
  width: 150px;
}

.formButton:hover {
  border-bottom: 3px solid $border-color;
}

.act {
  margin-top: 10px;
}


.lowerLink {
  margin: 50px auto;
}

.link {
  @extend %return-btn;
}

.link:hover {
  @extend %hover-return-btn;
}


@media screen and (max-width: 900px) {
    .container {
        margin-top: 250px;
        padding-bottom: 5px;
    }
}