@import '../../../styles/variables.scss';

.form {
  @extend %form-style;
}

.form:focus {
  border-bottom: 2px solid $border-color;
}

.formInput {
  @extend %inputs-style;
  width: 100%;
}

.formInput::placeholder {
  color: #fff;
}

.formButton {
  @extend %all-buttons;
  width: 100%;
  margin-top: 15px;
}

.formButton:hover {
  border-bottom: 3px solid $border-color;
}

.errorNotice {
  color: red;
  font-size: 12px;
  display: flex;
}

.link {
  color: $btn-color;
}