@import '../../variables.scss';

.search-block {
  position: relative;
  width: 30%;
  right: 550px;


  &__input {
    border: none;
    border-bottom: 2px solid $page-color;
    background-color: inherit;
    outline: none;
    padding: 15px 4px 8px 4px;
    margin-left: 30px;
    margin-bottom: 20px;
    text-indent: 17px;
    width: 100%;
  }

  &__img {
    position: absolute;
    top: 14px;
    left: 50px;
    margin-left: -23px;
    padding-bottom: 5px;
  }
}

/* .......................media........................*/
@media screen and (max-width: 1165px) {

  .search-block {
    right: 50%;

    &__input {
      max-width: 220px;
      text-indent: 25px;
    }
  }
}

@media screen and (max-width: 900px) {

    .search-block {
      right: auto;
      margin: 0 auto;
      width: 320px;

      &__input {
        max-width: 320px;
        margin: 0;
      }

      &__img {
        margin-left: -30px;
        left: 30px;
      }
    }
  
  }
