@import '../../variables.scss';

.listItem {
  width: 320px;
  height: 250px;
  background-color: $page-color;
  margin: 13px;
}

.itemPanel {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}